.main{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
}
.searchText{
    width: 80%;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.searchButton{
    width: 15%;
    height: 44px;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}
.searchButton:hover{
    background-color: #aaa;
    color: white;
}
.tutorial{
    width: 100%;
    height: 100px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}
.tutorial:hover{
    background-color: #aaa;
    color: white;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.part-one{
    width: 65%;
}
.part-two{
    width: 30%;
}
.descriptionText{
    font-weight: bold;
    line-height: 2;
}
.btn{
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #aaa;
    cursor: pointer;
    color: white;
    padding: 2px 10px;
    font-weight: bold;
}
.btn:hover{
    background-color: white;
    color: black;
}